DOCKERHUB_USERNAME=timurcravtov
PLAYER_SERVICE_TAG=latest
GAME_SERVICE_TAG=latest

PLAYER_PORT=8081
PLAYER_POSTGRES_USER=postgres
PLAYER_POSTGRES_PASSWORD=qwerty
PLAYER_POSTGRES_DB=player

GAME_PORT=8082
GAME_POSTGRES_USER=postgres
GAME_POSTGRES_PASSWORD=qwerty
GAME_POSTGRES_DB=game

INTERNAL_KEY=changeme
JWT_PRIVATE_KEY=supersecret
KAFKA_BROKERS=localhost:9092
