DOCKERHUB_USERNAME=timurcravtov
PLAYER_SERVICE_TAG=latest
GAME_SERVICE_TAG=latest

PLAYER_PORT=8081
PLAYER_POSTGRES_USER=postgres
PLAYER_POSTGRES_PASSWORD=qwerty
PLAYER_POSTGRES_DB=player

GAME_PORT=8082
GAME_POSTGRES_USER=postgres
GAME_POSTGRES_PASSWORD=qwerty
GAME_POSTGRES_DB=game

BASE_DOCKERHUB_USERNAME=mixam052
BASE_SERVICE_TAG=0.1.0
BASE_PORT=8087
BASE_POSTGRES_USER=postgres
BASE_POSTGRES_PASSWORD=qwerty
BASE_POSTGRES_DB=base

CRAFTING_DOCKERHUB_USERNAME=mixam052
CRAFTING_SERVICE_TAG=0.1.0
CRAFTING_PORT=8088
CRAFTING_POSTGRES_USER=postgres
CRAFTING_POSTGRES_PASSWORD=qwerty
CRAFTING_POSTGRES_DB=crafting

INTERNAL_KEY=changeme
JWT_PRIVATE_KEY=supersecret
KAFKA_BROKERS=localhost:9092
