DOCKERHUB_USERNAME=timurcravtov
PLAYER_SERVICE_TAG=latest
GAME_SERVICE_TAG=latest

PLAYER_PORT=8081
PLAYER_POSTGRES_USER=postgres
PLAYER_POSTGRES_PASSWORD=qwerty
PLAYER_POSTGRES_DB=player

GAME_PORT=8082
GAME_POSTGRES_USER=postgres
GAME_POSTGRES_PASSWORD=qwerty
GAME_POSTGRES_DB=game

BASE_DOCKERHUB_USERNAME=mixam052
BASE_SERVICE_TAG=0.1.0
BASE_PORT=8087
BASE_POSTGRES_USER=postgres
BASE_POSTGRES_PASSWORD=qwerty
BASE_POSTGRES_DB=base

CRAFTING_DOCKERHUB_USERNAME=mixam052
CRAFTING_SERVICE_TAG=0.1.0
CRAFTING_PORT=8088
CRAFTING_POSTGRES_USER=postgres
CRAFTING_POSTGRES_PASSWORD=qwerty
CRAFTING_POSTGRES_DB=crafting

EXAM_DOCKERHUB_USERNAME=inercaso
EXAM_SERVICE_TAG=0.1.0
EXAM_PORT=8083
EXAM_POSTGRES_USER=postgres
EXAM_POSTGRES_PASSWORD=qwerty
EXAM_POSTGRES_DB=exam
# mock until Player/Zombie are running: identity from X-Player-Id, built-in zombies
EXAM_AUTH_MODE=mock
EXAM_PLAYER_CLIENT=mock
EXAM_ZOMBIE_CLIENT=mock

WORLD_DOCKERHUB_USERNAME=inercaso
WORLD_SERVICE_TAG=0.1.0
WORLD_PORT=8084
WORLD_POSTGRES_USER=postgres
WORLD_POSTGRES_PASSWORD=qwerty
WORLD_POSTGRES_DB=world
WORLD_AUTH_MODE=mock

ZOMBIE_DOCKERHUB_USERNAME=nevaletik
ZOMBIE_SERVICE_TAG=1.1.0
ZOMBIE_PORT=8085
ZOMBIE_POSTGRES_USER=postgres
ZOMBIE_POSTGRES_PASSWORD=qwerty
ZOMBIE_POSTGRES_DB=zombie

RESOURCE_DOCKERHUB_USERNAME=nevaletik
RESOURCE_SERVICE_TAG=1.1.0
RESOURCE_PORT=8086
RESOURCE_POSTGRES_USER=postgres
RESOURCE_POSTGRES_PASSWORD=qwerty
RESOURCE_POSTGRES_DB=resource
# empty = built-in World mock; set to http://world:8084 once World is up
RESOURCE_WORLD_SERVICE_URL=
# empty = not connected; ws://player:8081/events and ws://game:8082/events once they serve /events
RESOURCE_PLAYER_EVENTS_URL=
RESOURCE_GAME_EVENTS_URL=

INTERNAL_KEY=changeme
JWT_PRIVATE_KEY=supersecret
KAFKA_BROKERS=localhost:9092
