[submodule "services/player-service"]
	path = services/player-service
	url = https://github.com/TimurCravtov/KahootWithUndeadPlayerService.git
[submodule "services/game-service"]
	path = services/game-service
	url = https://github.com/TimurCravtov/KahootWithUndeadGameService.git
[submodule "services/base-service"]
	path = services/base-service
	url = git@github.com:M1XaM/kahoots-base-service.git
[submodule "services/crafting-service"]
	path = services/crafting-service
	url = git@github.com:M1XaM/kahoots-crafting-service.git
